*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#first{
    width: 100vw;
    height: 100vh ;
}
#Second{
    width: 100vw;
    height: 100vh ;
}
#exp{
    width: 100vw;
    height: 100vh ;
    display: flex;
    align-items: center;
    background-color: rgb(25, 150, 150);
}
#exp h1{
    font-size: 40vw;
    font-weight: 500;
}
body{
   overflow-x: hidden;
}

svg{
    background-color: orangered ;
}